


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f8f6;
}

header 
{display: flex;
flex-direction: row;
justify-content: space-between;
background-color: rgb(255, 255, 255);
align-items: center;
width: 100%;
height: 100px;
}

a{text-decoration: none;
color: black}

.logo img{display: flex;
flex-direction: row;
width:100% ;
height: 125px;}

nav a{font-weight: 500; 
padding-right: 10px;}

header nav a:hover{color: #2f8327;}

header ul{
    list-style: none;
display: flex;
flex-direction: row;}

header ul li{margin: 20px;}

header ul li{display: flex;
font-size: 18px;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.texto h1{display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
height: 40px;
    color:#00dc64 ;}
    .texto p{display: flex;
    flex-direction: column;
    font-size: 15px;
justify-content: center;
align-items: center;
width: 95%;
height: 40px;}

img
{width: 200px;}

h1{font-size: 24px;
color: rgb(15, 15, 15);
font-family: Verdana, Geneva, Tahoma, sans-serif;}

p{font-size: 14px;
color: rgb(46, 46, 46);
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.contenedor{display: flex;
flex-direction: row;
background-color: #fcfffd;
width: 100%;
margin: 10px 0 10 px 0;}

.caja{
    width: 100%;
    height: 100%;
    padding: 10px;
display: flex;
flex-direction: column;
align-items: center;}

.caja img{border-radius: 27%;}

.caja h1{font-size: 16px;}

.caja p{font-size: 14px;}

